@font-face { font-family: "Lora"; font-weight: serif; src: url('Lora-Regular.ttf');}
@font-face { font-family: "Comfortaa"; font-weight: normal; src: url('Comfortaa-Medium.ttf');}

:root {
	--lightGrey: #383b4c;
	--darkGrey: #1e1e1e;
	--clear: #ffffff00;
	--navBar: white;
	--btnText: #ba2d0b;
	--normalText: #d6f2ff;
	--lighter: #ffffff20;
	--darker: #00000030;
	--link: #5082ff;
	--bgDark: #1e1e1ee5;
	--bgLight: #383b4ce5;
}

body {
	background-color: var(--darkGrey);
	margin: 0;
	padding: 0;
	font-family: "Lora";
	background-image: url(../content/FW3.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}

.main{
	font-family: inherit;
	position: fixed;
	width: 70vw;
	height: 93vh;
	margin-left: 15vw;
	margin-right: 15vw;
	/* background-color: var(--lightGrey); */
	/* outline: 2px solid white; */
}

.mainLeft{
	position: fixed;
	width: 50vw;
	height: 93vh;
	margin-left: 0vw;
	background: linear-gradient(to right, var(--bgDark) 0%, var(--bgLight) 100%);
}

.mainRight{
	position: fixed;
	width: 50vw;
	height: 93vh;
	margin-left: 50vw;
	margin-right: 0vw;
	background: linear-gradient(to left, var(--bgDark) 0%, var(--bgLight) 100%);
}

button{
	font-family: inherit;
	width: 100%;
	height: 100%;
	background-color:#00000000;
	border: 1px solid var(--clear);
	color: black;
	padding: 0px 0px;
	text-align: center;
	/* text-decoration: none; */
	/* display: inline-block; */
	font-size: 3.2vh;
	/* border-radius: 4px; */
}

button:hover {
	background-color:#0000000f;
	color: var(--btnText);
}

.buttonPage{
	background-color:#00000028;
	color: var(--btnText);
}

form{
	width: 100%;
	height: 100%;
	position: relative;
	/* padding-left: 20px;
	padding-right: 20px; */
}

.nav{
	/* position:fixed; */
	height: 7vh;
	width: 100%;
	background-color: #ffffff;
	outline: 2px solid #000000;
	/* border-radius: 20px; */
}

.homeText{
	font-family: "Comfortaa";
	width: 90%;
	margin: 10% 5%;
	padding: 10% 0%;
	background-color: var(--lightGrey);
	font-size: 50px;
	text-align: center;
	color: var(--normalText);
	background-color: var(--lighter);
	outline: 1px solid rgb(255, 255, 255);
	border-radius: 15px;
	backdrop-filter: blur(5px);
}

.resume{
	position:fixed;
	height: 90vh;
	width: 50vw;
	margin-top: 1vh;
	margin-left: 25vw;
	margin-right: 25vw;
	background-color: aliceblue;
}

.projectsTableContainer::-webkit-scrollbar{
	display: none;
}

.projectsTableContainer{
	height: 100%;
	overflow:auto;
	-ms-overflow-style: none;
	scrollbar-width: none; 
	width: 98%;
	margin: 0%;
	background-color: var(--lighter);
	font-size: calc(1.5vh + 1vw);
	text-align: center;
	color: var(--normalText);
	/* outline: solid 1px rgb(255, 255, 255); */
}

.projectsTable{
	width: 90%; 
	margin: 5%;
	/* outline: solid 1px rgba(0, 0, 0, 0.5); */
}

.singleProjectContainer:hover{
	/* height: 30vh; */
	background-color: var(--lighter);
}

.singleProjectContainer{
	transition: all 0.5s;
	/* height: 20vh; */
	width: calc(100% - 2px);
	text-align: center;
	overflow: hidden;
	border: solid 1px white;
	border-radius: 15px;
	backdrop-filter: blur(15px);
}

.singleProject{
	/* transition: all 0.5s; */
	/* display: none; */
	margin-top: 0;
	height: 0;
	border-top: 1px solid rgb(255, 255, 255);
	background-color: var(--darker);
	font-size: calc(1.5vh + 1vw);
}

.colLeft{
	width: 50%;
	margin-right: 5vw;
	transition: 0.5s;
	/* outline: 2px solid rgb(255, 255, 255); */
}

.colRight{
	width: 50%;
	transition: 0.5s;
	margin-left: 5vw;
	/* outline: 2px solid rgb(255, 255, 255); */
}

.imgs{
	margin-right: 59%;
}

.projectTextBox{
	/* margin: 0 1%; */
	padding: 2% 0;
	height: 100%;
	background-color: var(--darker);
}
.projectText{
	margin: 0 3%;
	font-size: calc(0.65vh + 0.5vw);
	line-height: 1.75;
	text-indent: 10%;
	text-align: left;
	word-wrap: normal;
	font-family: Verdana, sans-serif;
}

.projectRows{
	width: 20vw; 
	/* outline: 2px solid rgb(255, 255, 255); */
}

.contactText{
	height: auto;
	width: 70%;
	margin-top: 10%;
	margin-left: 15%;
	padding: 5% 0%;
	background-color: var(--lightGrey);
	font-size: 30px;
	text-align: center;
	color: var(--normalText);
	background-color: var(--lighter);
	outline: 1px solid rgb(255, 255, 255);
	border-radius: 15px;
	backdrop-filter: blur(5px);
}

a{
	color: inherit;
}

p{
	padding: 0;
	margin: 0;
}

img{
	padding: 0;
	margin: 0;
}

table, tr, th{
	padding: 0;
	margin: 0;
	/* outline: 1px solid red; */
	/* overflow: hidden; */
}

th{
	width: 10vw;
	height: 6.5vh;
	overflow: hidden;
}